@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: bebas-neue, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.navbar__container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__container__logo {
  width: auto;
  height: 50%;
}

.navbar__container__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__container__items__list {
  list-style-type: none;
  margin: 0%;
}

.navbar__container__items__list img {
  width: 60%;
  height: auto;
}

.navbar__container__items__list p {
  color: white;
  float: left;
}

.navbar__container__items__list a {
  text-decoration: none;
  color: white;
}

#animacion {
  position: relative;
  width: auto;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
}

#animacion h1 {
  position: absolute;
  text-align: center;
  color: white;
  font-size: 60px;
  padding-bottom: 100px;
  letter-spacing: 5px;
}

#animacion p {
  position: absolute;
  text-align: center;
  color: white;
  letter-spacing: 5px;
  font-size: 20px;
  font-family: nunito, sans-serif;
}

.header {
  background-color: #f38200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: -1;
}

.header svg {
  height: 100hv;
  width: 100%;
  margin: auto;
  margin-top: 20px;
}

.header h1 {
  color: white;
  font-size: 80px;
  text-align: center;
  position: absolute;
  letter-spacing: 5px;
}

.header p {
  color: white;
  font-family: nunito, sans-serif;
  font-size: 20px;
  text-align: center;
  position: absolute;
  letter-spacing: 10px;
  margin-top: 50px;
}

.head {
  stroke-dasharray: 4000;
  stroke-dashoffset: 0;
  fill: #68AB80;
  stroke: #403754;
  -webkit-animation: animate 9s linear infinite;
          animation: animate 9s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 4000;
  }
  30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 4000;
  }
  70% {
    fill: rgba(104, 171, 128, 0);
  }
  100% {
    opacity: 10;
    fill: #68ab80;
    stroke-dashoffset: 0;
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 4000;
  }
  30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 4000;
  }
  70% {
    fill: rgba(104, 171, 128, 0);
  }
  100% {
    opacity: 10;
    fill: #68ab80;
    stroke-dashoffset: 0;
  }
}

@media only screen and (max-width: 800px) {
  .header svg {
    height: 100hv;
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }
  .header h1 {
    font-size: 60px;
  }
  .header p {
    font-size: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .header svg {
    height: 100hv;
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }
  .header h1 {
    font-size: 45px;
  }
  .header p {
    font-size: 8px;
  }
}

.ad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: black;
  height: 100vh;
}

.ad__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ad__container__info {
  width: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ad__container__info__tittle {
  color: white;
  font-size: 55pt;
  line-height: 75px;
}

.ad__container__info__text {
  color: white;
  font-size: 15px;
  line-height: 155%;
  font-weight: 200;
  margin-top: 20px;
  font-family: nunito, sans-serif;
  font-style: normal;
  font-weight: 200;
  text-align: left;
}

.ad__container__info__button {
  margin-top: 20px;
  padding: 15px 30px;
  border-radius: 50px;
  background: transparent;
  color: white;
  font-size: 20px;
  font-family: 'Oswald';
  font-weight: 400;
  border: 2px solid white;
  font-family: bebas-neue, sans-serif;
  font-style: normal;
}

.ad__container__info__button:hover {
  background: white;
  color: black;
  border: 2px solid black;
}

.ad__container__img {
  width: 40%;
}

.ad__container__img__object {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .ad {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ad__container {
    width: 90%;
  }
  .ad__container__info {
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ad__container__info__tittle {
    color: white;
    font-size: 50px;
    line-height: 100%;
  }
  .ad__container__info__text {
    color: white;
    font-size: 15px;
    margin-top: 15px;
  }
  .ad__container__info__button {
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 50px;
    background: transparent;
    color: white;
    font-size: 20px;
  }
  .ad__container__img {
    width: 10%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ad__container__img__object {
    width: 0%;
  }
}

.property {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  margin-bottom: 40px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #bbbaba;
}

.property__color {
  width: 27%;
  background-color: #ececec;
  border: 2px;
  border-color: black;
}

.property__color__one {
  width: 100%;
}

.property__color__text {
  margin: 0%;
  text-align: center;
  justify-items: center;
  padding: 10px;
}

.property__color__text__tittle {
  font-size: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.property__color__text__info {
  font-size: 15px;
  padding: 5px;
  font-weight: 400;
  font-family: nunito, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.property__color:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

@media only screen and (max-width: 1000px) {
  .property {
    height: 350px;
  }
  .property__color {
    width: 27%;
    background-color: #ececec;
    border: 2px;
    border-color: black;
  }
  .property__color__one {
    width: 100%;
  }
  .property__color__text {
    margin: 0%;
    padding: 10px;
  }
  .property__color__text__tittle {
    font-size: 12px;
  }
  .property__color__text__info {
    font-size: 8px;
    padding: 5px;
    font-weight: 400;
    font-family: nunito, sans-serif;
    font-style: normal;
  }
}

.interaccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: black;
  height: 100vh;
}

.interaccion__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interaccion__container__img {
  width: 40%;
}

.interaccion__container__img__object {
  width: 60%;
}

.interaccion__container__info {
  width: 40%;
}

.interaccion__container__info__tittle {
  color: white;
  font-size: 60px;
  font-weight: 400;
  line-height: 55px;
}

.interaccion__container__info__text {
  margin-top: 30px;
  font-size: 20px;
  color: white;
  font-family: nunito, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.interaccion__container__info__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.interaccion__container__info__btn__one {
  border-radius: 10%;
  border: 2px solid white;
  background-color: transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-family: bebas-neue, sans-serif;
  font-size: 20px;
  width: 100px;
  height: 40px;
}

.interaccion__container__info__btn__one:hover {
  background: white;
  color: black;
  border: 2px solid black;
}

.interaccion__container__info__btn__two {
  border-radius: 10%;
  border: 2px solid white;
  background-color: transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-family: bebas-neue, sans-serif;
  font-size: 20px;
  width: 120px;
  height: 40px;
}

.interaccion__container__info__btn__two:hover {
  background: white;
  color: black;
  border: 2px solid black;
}

.interaccion__container__info__btn__three {
  border-radius: 10%;
  border: 2px solid white;
  background-color: transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-family: bebas-neue, sans-serif;
  font-size: 20px;
  width: 120px;
  height: 40px;
}

.interaccion__container__info__btn__three:hover {
  background: white;
  color: black;
  border: 2px solid black;
}

@media only screen and (max-width: 1000px) {
  .interaccion {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .interaccion__container {
    width: 90%;
  }
  .interaccion__container__img {
    width: 45%;
  }
  .interaccion__container__img__object {
    width: 60%;
  }
  .interaccion__container__info {
    width: 45%;
  }
  .interaccion__container__info__tittle {
    color: white;
    font-size: 45px;
    line-height: 45px;
  }
  .interaccion__container__info__text {
    margin-top: 20px;
    font-size: 15px;
  }
  .interaccion__container__info__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    width: 90%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .interaccion__container__info__btn__one {
    font-size: 20px;
    width: 75px;
    height: 40px;
  }
  .interaccion__container__info__btn__two {
    font-size: 20px;
    width: 75px;
    height: 40px;
  }
  .interaccion__container__info__btn__three {
    font-size: 20px;
    width: 75px;
    height: 40px;
  }
}

.galeria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.galeria__text {
  font-size: 60px;
  text-align: center;
}

.galeria__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row;
          flex: row;
  margin-top: 20px;
  padding: 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.galeria__img__photo {
  width: 100%;
}

.galeria__img__photo:hover {
  width: 105%;
}

.specs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.specs__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.specs__container__info {
  width: 40%;
  padding: 20px;
}

.specs__container__info__tittle {
  color: white;
  font-size: 55px;
  margin-bottom: 25px;
}

.specs__container__info__text {
  margin-top: 30px;
  color: white;
  font-size: 18px;
  font-family: nunito, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.specs__container__img {
  width: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.specs__container__img__object {
  width: 100%;
}

@media only screen and (max-width: 950px) {
  .specs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .specs__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
  }
  .specs__container__info {
    width: 45%;
    padding: 5px;
  }
  .specs__container__info__tittle {
    font-size: 40px;
  }
  .specs__container__info__text {
    margin-top: 10px;
    color: white;
    font-size: 12px;
    line-height: 20px;
  }
  .specs__container__img {
    width: 45%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .specs__container__img__object {
    width: 100%;
  }
}

.follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 500px;
  background-color: #adadad;
}

.follow__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.follow__container__img {
  margin-top: 180px;
  float: left;
}

.follow__container__img__leon {
  width: 85%;
}

.follow__container__info {
  margin-top: 50px;
  margin-right: 50px;
  padding: 20px;
}

.follow__container__info__tittle {
  color: white;
  font-size: 70px;
}

.follow__container__info__text {
  color: white;
  font-size: 20px;
  font-family: nunito, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-top: 20px;
}

.follow__container__info input {
  font-size: 20px;
  margin-top: 25px;
  width: 350px;
  height: 50px;
  border: 0px;
  border-radius: 20px;
  font-family: nunito, sans-serif;
  font-style: normal;
  font-weight: 200;
}

.follow__container__info button {
  width: 200px;
  height: 50px;
  font-size: 30px;
  font-weight: 500;
  border: 2px solid white;
  background: transparent;
  color: white;
  border-radius: 20px;
  margin-top: 25px;
  font-family: bebas-neue, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.follow__container__info button:hover {
  background: orange;
  color: white;
  border: 2px solid orange;
}

@media only screen and (max-width: 900px) {
  .follow {
    height: 300px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .follow__container {
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
  }
  .follow__container__img {
    display: none !important;
  }
  .follow__container__info {
    margin-top: 20px;
    margin-right: 0px;
    padding: 0px;
  }
  .follow__container__info__tittle {
    color: white;
    font-size: 35px;
  }
  .follow__container__info__text {
    color: white;
    font-size: 15px;
    font-family: nunito, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-top: 10px;
  }
  .follow__container__info input {
    font-size: 15px;
    margin-top: 20px;
    width: 300px;
    height: 40px;
  }
  .follow__container__info button {
    width: 130px;
    height: 35px;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 15px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 600px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__container__info {
  margin-top: 80px;
  width: 40%;
}

.footer__container__info__name {
  font-size: 40px;
  color: rgba(161, 161, 161, 0.534);
}

.footer__container__info__text {
  margin-top: 15px;
  font-family: nunito, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: black;
  line-height: 30px;
}

.footer__container__img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 50%;
}

@media only screen and (max-width: 800px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 420px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .footer__container__info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px;
    width: 90%;
  }
  .footer__container__info__name {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.493);
    text-align: center;
    text-justify: center;
  }
  .footer__container__info__text {
    text-align: center;
    text-justify: center;
    margin-top: 15px;
    font-size: 18px;
    color: black;
    line-height: 20px;
  }
  .footer__container__img {
    display: none !important;
  }
}

/* ------------------------ ANIMACIÓN --------------------------------------------*/
/* ---------------------MOLA--------------------------*/
.animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  height: 100vh;
  margin-bottom: 70px;
}

.animation h1 {
  font-size: 60px;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 15px;
}

.animation .molas {
  font-size: 25px;
  letter-spacing: 4px;
  font-family: nunito, sans-serif;
  font-style: normal;
}

.animation svg {
  margin: auto;
  width: 80%;
  margin-top: 30px;
}

.path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 0;
  -webkit-animation: dash 10s linear infinite;
          animation: dash 10s linear infinite;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@media only screen and (max-width: 800px) {
  .animation {
    margin-bottom: 0px;
    height: 450px;
  }
  .animation p {
    font-size: 40px;
    margin-top: 0px;
    text-align: center;
  }
  .animation svg {
    width: 100%;
  }
}

.pathBag {
  stroke-dasharray: 7500;
  stroke-dashoffset: 0;
  -webkit-animation: dash 6s linear alternate infinite;
          animation: dash 6s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 7000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.pathC {
  stroke-dasharray: 6500;
  stroke-dashoffset: 0;
  -webkit-animation: dash 6s linear alternate infinite;
          animation: dash 6s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 6000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.pathA {
  stroke-dasharray: 5500;
  stroke-dashoffset: 0;
  -webkit-animation: dash 6s linear alternate infinite;
          animation: dash 6s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 5500;
  }
  to {
    stroke-dashoffset: 0;
  }
}

* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0%;
  font-family: bebas-neue, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.navbar__container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__container__logo {
  width: auto;
  height: 50%;
}

.navbar__container__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__container__items__list {
  list-style-type: none;
  margin: 0%;
}

.navbar__container__items__list img {
  width: 60%;
  height: auto;
}

.navbar__container__items__list p {
  color: white;
  float: left;
}

.navbar__container__items__list a {
  text-decoration: none;
  color: white;
}

.section {
  width: 100%;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__img {
  width: 50%;
  background-color: #e6e6e6;
}

.section__img__name {
  margin-top: 100px;
}

.section__img__name h1 {
  color: #ff006a;
  font-size: 50px;
  margin-left: 50px;
}

.section__img__name h2 {
  color: #ff006a;
  font-size: 50px;
  margin-left: 50px;
}

.section__info {
  width: 50%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__info__text {
  width: 90%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__info__text__tittle {
  font-size: 25px;
  color: #ff006a;
}

.section__info__text__descrip {
  font-family: nunito, sans-serif;
  color: black;
  font-size: 18px;
  line-height: 160%;
}

.section__info__btn {
  width: 90%;
  margin: auto;
}

.section__info__btn__design {
  margin-top: 20px;
  padding: 15px 30px;
  border-radius: 25px;
  background-color: white;
  border: 2px solid black;
  color: black;
  font-size: 20px;
  font-family: bebas-neue, sans-serif;
}

.section__info__btn__design:hover {
  background-color: black;
  color: white;
}

.ft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  background-color: black;
}

.ft__contact {
  width: 40%;
  margin: auto;
}

.ft__contact p {
  color: white;
  font-family: nunito, sans-serif;
  line-height: 160%;
}

.ft__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40%;
  margin-top: 20px;
}

.ft__logo__boxTwo {
  width: 50%;
  margin: auto;
}

.ft__logo__boxTwo__artesaniaL {
  width: 30%;
  height: auto;
}

* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0%;
  font-family: bebas-neue, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.navbar__container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__container__logo {
  width: auto;
  height: 50%;
}

.navbar__container__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__container__items__list {
  list-style-type: none;
  padding: 0%;
}

.navbar__container__items__list img {
  width: 60%;
  height: auto;
}

.navbar__container__items__list p {
  color: white;
  float: left;
}

.navbar__container__items__list a {
  text-decoration: none;
  color: white;
}

.container {
  width: 100%;
  margin: auto;
}

.container__box {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  margin-top: 50px;
}

.container__box__one {
  width: 33%;
  text-align: center;
}

.container__box__one a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.container__box__one h6 {
  font-family: nunito, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
}

.container__box__one p {
  color: #ff006a;
  font-size: 25px;
}

.container__box__two {
  width: 33%;
  text-align: center;
}

.container__box__two p {
  color: #ff006a;
  font-size: 25px;
}

.container__box__two a {
  text-decoration: none;
  color: black;
}

.container__box__two h6 {
  font-family: nunito, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
}

.container__box__three {
  width: 33%;
  text-align: center;
}

.container__box__three a {
  text-decoration: none;
  color: black;
}

.container__box__three h6 {
  font-family: nunito, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
}

.container__box__three p {
  color: #ff006a;
  font-size: 25px;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  width: 80%;
  margin: auto;
  margin-bottom: 5%;
}

.products__crafts {
  margin-top: 3%;
  -ms-flex-line-pack: center;
      align-content: center;
  height: auto;
  width: 30%;
  padding: 2%;
}

.products__crafts a {
  text-decoration: none;
  color: black;
}

.products__crafts h3 {
  font-size: 23px;
  color: black;
  font-weight: 400;
}

.products__crafts h4 {
  font-family: nunito, sans-serif;
  font-size: 19px;
  font-weight: 400;
}

.products__crafts h4:before {
  content: "$ ";
}

.products__crafts__art {
  width: 100%;
  height: auto;
}

.products__crafts__icon {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: -25px;
}

.products__crafts__icon img {
  width: 60%;
  height: auto;
}

.ft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  background-color: black;
}

.ft__contact {
  width: 40%;
  margin: auto;
}

.ft__contact p {
  color: white;
  font-family: nunito, sans-serif;
  line-height: 160%;
}

.ft__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40%;
  margin-top: 20px;
}

.ft__logo__boxTwo {
  width: 50%;
  margin: auto;
}

.ft__logo__boxTwo__artesaniaL {
  width: 30%;
  height: auto;
}

@media only screen and (max-width: 500px) {
  .background__store {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 90%;
    width: 80%;
  }
  .background__store__tittle {
    display: block;
    font-size: 30px;
    color: white;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    width: 100%;
    margin: auto;
  }
  .container__box {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    margin-top: 50px;
  }
  .container__box__one {
    width: 100%;
    text-align: center;
    margin-bottom: 10%;
  }
  .container__box__one a {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  .container__box__one h6 {
    font-family: nunito, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 130%;
  }
  .container__box__one p {
    color: #ff006a;
    font-size: 20px;
  }
  .container__box__two {
    width: 100%;
    text-align: center;
    margin-bottom: 10%;
  }
  .container__box__two p {
    color: #ff006a;
    font-size: 20px;
  }
  .container__box__two a {
    text-decoration: none;
    color: black;
  }
  .container__box__two h6 {
    font-family: nunito, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 130%;
  }
  .container__box__three {
    width: 100%;
    text-align: center;
    margin-bottom: 10%;
  }
  .container__box__three a {
    text-decoration: none;
    color: black;
  }
  .container__box__three h6 {
    font-family: nunito, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 130%;
  }
  .container__box__three p {
    color: #ff006a;
    font-size: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
    width: 100%;
    margin: auto;
    margin-bottom: 10%;
  }
  .products__crafts {
    margin-top: 2%;
    -ms-flex-line-pack: center;
        align-content: center;
    height: auto;
    width: 80%;
    padding: 1%;
  }
}

@media only screen and (max-width: 500px) {
  .ft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 5%;
    margin: auto;
    background-color: black;
  }
  .ft__contact {
    width: 100%;
    margin: auto;
  }
  .ft__contact p {
    color: white;
    font-family: nunito, sans-serif;
    line-height: 100%;
    font-size: 10px;
  }
  .ft__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin-top: 0%;
  }
  .ft__logo__boxTwo {
    width: 100%;
    margin: auto;
  }
  .ft__logo__boxTwo__artesaniaL {
    width: 100%;
    height: auto;
  }
}

* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0%;
  font-family: bebas-neue, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.navbar__container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__container__logo {
  width: auto;
  height: 50%;
}

.navbar__container__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__container__items__list {
  list-style-type: none;
}

.navbar__container__items__list img {
  width: 60%;
  height: auto;
}

.navbar__container__items__list p {
  color: white;
  float: left;
}

.navbar__container__items__list a {
  text-decoration: none;
  color: white;
}

.background {
  background-image: url("/imagenes/fondo_tienda.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.background__store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 90%;
  width: 80%;
}

.background__store__tittle {
  display: block;
  font-size: 60px;
  color: white;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: row;
      flex-wrap: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 100%;
  height: 600px;
}

.contain__info {
  margin: auto;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.contain__info h1 {
  font-size: 30px;
  color: #ff006a;
  font-weight: 400;
  margin-top: 20px;
}

.contain__info p {
  font-size: 18px;
  color: black;
  font-family: nunito, sans-serif;
}

.contain__info__products {
  width: 90%;
  height: 300px;
  margin-top: 30px;
  overflow-y: scroll;
}

.contain__info__products h1 {
  font-size: 23px;
  color: black;
  font-weight: 400;
}

.contain__info__products h1:before {
  content: "$ ";
}

.contain__info__products h2 {
  font-family: nunito, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 150%;
}

@media only screen and (max-width: 500px) {
  .contain__info h1 {
    font-size: 25px;
    color: #ff006a;
    font-weight: 400;
    margin-top: 20px;
  }
  .contain__info p {
    font-size: 15px;
    color: black;
    font-family: nunito, sans-serif;
  }
  .contain__info__products {
    width: 80%;
    height: 200px;
    margin-top: 30px;
    overflow-y: scroll;
  }
}

.ft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  background-color: black;
}

.ft__contact {
  width: 40%;
  margin: auto;
}

.ft__contact p {
  color: white;
  font-family: nunito, sans-serif;
  line-height: 160%;
}

.ft__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40%;
  margin-top: 20px;
}

.ft__logo__boxTwo {
  width: 50%;
  margin: auto;
}

.ft__logo__boxTwo__artesaniaL {
  width: 30%;
  height: auto;
}
/*# sourceMappingURL=main.css.map */