*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    margin: 0%;
    font-family: bebas-neue, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top:0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    &__container{
        width: 80%;
        display: flex;
        height: 70px;
        align-items: center;
        justify-content: space-between;

        &__logo{
            width: auto;
            height: 50%;
        }

        &__items{
            display: flex;
            align-items: center;

           &__list{
               list-style-type: none;
               padding: 0%;

               img{
                   width: 60%;
                   height: auto;
               }
    
               
           }
        }
    }
}

.background{
    background-image: url("/imagenes/fondo_tienda.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;

    &__store{
        display: flex;
        align-items: flex-end;
        height: 90%;
        width: 80%;
    
        &__tittle{
            display: block;
            font-size: 60px;
            color: white;
            align-self: flex-end;
        }

    }
}

.container{
    width: 100%;
    margin: auto;
    &__box{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        margin-top: 50px;
        &__one{
            width: 33%;
            text-align: center;
            a{
                text-decoration: none;     
                color: black;   
                font-size: 20px;      
            }
            p{
                color: rgb(255, 0, 106);
                font-size: 25px;
            }

    
        }

        &__two{
        
            width: 33%;
            text-align: center;

            p{
                color: rgb(255, 0, 106);
                font-size: 25px;
            }
            a{
                text-decoration: none;
                color: black;
                font-size: 20px;
            }
        }

        &__three{

            width: 33%;
            text-align: center;
            a{
                text-decoration: none;
                color: black;
                font-size: 20px;
            }
            p{
                color: rgb(255, 0, 106);
                font-size: 25px;
            }
        }

    }
}

    .products{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 80%;
    margin: auto;

    &__crafts{

        margin-top: 3%;
        align-content: center;
        height: auto;
        width: 30%;
        padding: 2%;
        a{
            text-decoration: none;
            color: black;
        }

        &__art{
            width: 100%;
            height: auto;
        }

        p{
             font-size: 20px;
             color: black;
             font-weight: 200;
            }
        &__icon{
           
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-top: -25px;

            img{
                width: 60%;
                height: auto;
            }
        
            
        }
        
        
        
       

        }


    }

    .follow{
        display: flex;
        flex-direction: row;
        height: 500px;
        background-color: rgb(173, 173, 173);
        margin-top: 100px;
        
        &__container{
        display: flex;
        flex-direction: row;
    
        &__img{
            margin-top: 180px;
            float: left;
    
            &__leon{
                width: 85%;
            }
    
        }
    
        &__info{      
        
            margin-top: 50px;
            margin-right: 50px;
            padding: 20px;
    
            &__tittle{
                color: white;
                font-size: 70px;
            }
    
            &__text{
                color: white;
                font-size: 20px;
                font-family: nunito, sans-serif;
                font-style: normal;
                font-weight: 400;
                margin-top: 20px;
                
            }
    
            input{
                font-size: 20px;
                margin-top: 25px;
                width: 350px;
                height: 50px;
                border: 0px;
                border-radius: 20px;
                font-family: nunito, sans-serif;
                font-style: normal;
                font-weight: 200;
             
            }
    
            button{
                width:200px;
                height: 50px;
                font-size: 30px;
                font-weight: 500;
                border: 2px solid white;
                background: transparent;
                color: white;
                border-radius: 20px;
                margin-top: 25px;
                font-family: bebas-neue, sans-serif;
                font-style: normal;
                font-weight: 400;
    
                &:hover{
                    background:orange;
                    color: white;
                    border: 2px solid orange;
                }
            }
        }
        }
    
    
        }
        
        .footer{
            display: flex;
            flex-direction: row;
            height: 600px;
        
            &__container{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                
                &__info{
                    margin-top: 80px;
                    width: 40%;
                    &__name{
                    font-size: 40px;
                    color: rgba(161, 161, 161, 0.534);
                    
                    }
                    &__text{
                    margin-top: 15px;
                    font-family: nunito, sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    color: black;
                    line-height: 30px;
                    }
                }
        
                &__img{
                    align-self: flex-end;
                    width: 50%;
                    }
                }
            }

    