<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Artesanias de Colombia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style/main.css" />
    <link rel="stylesheet" href="https://use.typekit.net/umy6dwm.css">
</head>

<body>
   <nav class="navbar">
        <section class="navbar__container">
            <img class="navbar__container__logo" src="/imagenes/logo_artesania.png">
            <ul class="navbar__container__items">
                <li class="navbar__container__items__list">
                    <img src="./imagenes/search.png">
                </li>

                <a href="/tienda"> <li class="navbar__container__items__list">
                    <img src="./imagenes/store.png">
                </li></a>

                <li class="navbar__container__items__list">
                    <img src="./imagenes/favorite.png">
                </li>

                <a href="/check"><li class="navbar__container__items__list">
                    <img src="./imagenes/shoppingBag.png">
                </li></a>

            </ul>
        </section>
    </nav>
	<div class="header">

	<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1920 1080" style="enable-background:new 0 0 1920 1080;" xml:space="preserve">
<path class="head" style="fill:none;stroke:#403754" d="M202,12L202,12z"/>
<polygon style="fill:none;stroke:#403754;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
	225.2,19 243.2,37 196.8,70.2 191.1,150.9 318.2,94.9 474.7,191.7 459.6,237.2 305.9,149 241.3,189.8 287.8,237.2 261.3,269.5 
	145.5,198.3 160.7,31.3 "/>
<polygon class="head" style="fill:none;stroke:#403754;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
	281.2,201.2 305.9,179.3 412.1,249.6 316.3,336.8 310.6,434.6 408.3,398.5 412.1,447.9 335.3,492.4 408.3,578.8 371.3,601.6 
	258.4,504.8 258.4,361.5 190.1,324.5 173,418.4 139.8,418.4 145.5,239.1 270.3,297.5 319.6,253.8 "/>
<polygon class="head" style="fill:none;stroke:#403754;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
	207.7,363.9 235.2,376.2 227.6,478.7 146,505.3 140.3,464.5 187.7,442.6 "/>
<polygon class="head" style="fill:none;stroke:#403754;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
	220.9,730.1 220.9,768.1 130.8,801.3 130.8,548.9 209.6,510.9 342.4,629.5 467.6,594.4 387,505.3 412.6,476.8 500.8,539.4 
	515.1,402.8 557.8,430.3 549.2,622 364.2,688.4 361.4,792.7 454.3,759.5 457.2,795.6 374.6,855.4 443,947.4 406.9,967.3 
	314.9,868.6 309.2,677.9 246.6,624.8 229.5,704.5 194.4,701.7 198.2,578.3 176.4,580.2 171.6,724.4 "/>
<polygon class="head" style="fill:none;stroke:#403754;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
	257.9,670.3 290.2,684.6 282.6,824 156.4,876.2 140.3,840.2 240.9,782.3 "/>
<polygon class="head" style="fill:none;stroke:#403754;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
	136.5,921.8 270.3,866.7 395.5,995.8 483.8,958.8 414.5,863.9 451.5,834.5 504.6,899.9 552.1,807.9 585.3,826.9 540.7,998.6 
	421.1,1043.2 418.3,1056.5 360.4,1056.5 364.2,1032.8 271.2,949.3 268.4,1051.8 228.5,1051.8 221.9,936 146,956.9 "/>
<path class="head" style="fill:none;stroke:#403754;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M639.4,461.6l-0.9,139.5l55-15.2l5.7,41.7l-57.9,34.2l136.6,139.5l-114.8,75l-11.4,72.1l59.8,0.9l2.8,34.2l-50.3,19.9l45.6,48.9
	h-67.4l-56.9-48.9l30.4-166l75.9-41.7L589.1,681.7l0.9-251.4L488.5,344l-6.6,137.6l-43.6-17.1V344l-97.7,58.8v-50.3l126.2-91.1
	c0,0,43.6-0.9,198.3,158.4l84.4-20.9l9.5-29.4L646,249.1l36.1-21.8l105.3,88.2l50.3-72.1l28.5,25.6l-83.5,171.7L664,479.6
	L639.4,461.6z"/>
<polygon class="head" style="fill:none;stroke:#403754;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
	395.5,749.1 395.5,712.1 519.8,657.1 646,786.1 612.8,807.9 550.6,762.9 505.1,859.6 473.8,835.9 485.2,735.3 "/>
<polygon class="head" style="fill:none;stroke:#403754;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
	693.9,676.5 720.5,652.8 812.5,717.3 876.1,669.9 903.6,696.4 814.4,786.6 "/>
<path class="head" style="fill:none;stroke:#403754;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M720.5,552.2l5.7,57.9l89.2,84.4l38-31.3l-70.2-75v-24.7l159.4,130.9l-81.6,100.6l130,130l29.4-9.5c0,0,38-37-87.3-119.5l148-159.4
	l91.1,44.6l25.6-28.5l-112-80.6l-93,71.2l-208.7-167c0,0-114.8,12.3-119.5,46.5V556L720.5,552.2z"/>
<polygon class="head" style="fill:none;stroke:#403754;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
	1131.3,1003.8 1080.3,1052.2 890.3,1052.2 884.6,1029.5 798.3,966.8 785,1000 748.9,981.1 744.2,925.1 686.3,931.7 681.6,891.9 
	764.1,859.6 1000.4,1031.4 1091.5,981.1 "/>
<polygon class="head" style="fill:none;stroke:#403754;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
	1777.4,949.8 1758.5,993.4 1633.2,949.8 1612.9,1052.2 1571.9,1052.2 1575.3,987.7 1504.4,1052.2 1388,1052.2 1311.6,1010.5 
	1265.1,836.9 1303,816.9 1344.8,928.9 1418.8,866.3 1452.9,890.9 1374.2,983 1456.7,1023.8 1612.3,885.2 "/>
<polygon class="head" style="fill:none;stroke:#403754;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
	1471,786.6 1367.6,754.3 1392.2,849.2 1358.1,890.9 1311.6,773.3 1239.5,837.8 1261.3,984.9 1187,1052.2 1132.6,1052.2 
	1181.6,991.5 1078.2,962.1 996.6,1016.2 777.4,837.8 809.7,808.4 989,950.7 1043.1,915.6 1035.5,859.6 971,797 992.8,770.4 
	1074.4,831.2 1095.3,913.7 1186.3,925.1 1181.6,816.9 1320.1,688.8 1479.5,745.8 "/>
<polygon class="head" style="fill:none;stroke:#403754;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
	1023.1,746.7 1045.9,720.2 1148.4,793.2 1158.8,897.6 1121.8,897.6 1105.7,816.9 "/>
<polygon class="head" style="fill:none;stroke:#403754;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
	474.7,102.5 461.5,137.6 322,64.5 223.3,109.1 219.5,70.2 276.4,44.6 261.3,27.5 365.7,27.5 "/>
<polygon class="head" style="fill:none;stroke:#403754;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
	690.1,194.5 592.4,237.2 712.9,374.8 681.6,397.6 498.5,227.7 498.5,73.1 409.1,27.5 513.7,27.5 550.6,53.2 550.6,184.1 
	702.5,137.6 755.6,194.5 728.1,227.7 "/>
<path class="head" style="fill:none;stroke:#403754;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M584.8,95.9l141.4-50.3l211.6,175.5l75.9-41.7L918.8,73.1l27.5-27.5l94.9,82.5l42.7-55l25.6,18l-40.8,119.5l-124.3,77.8L903.6,390
	l167-59.8c0,0,23.7,5.7,20.9,28.5L901.7,467.8l77.8,66.4l162.2-88.2L1230,500l-12.3,34.2l-75.9-34.2L983.3,601.6
	c0,0-162.2-105.3-174.6-147.1l90.1-192.6l-66.4-50.3L778.4,278l-22.8-21.8l39.8-81.6l-81.6-67.4l-135.7,37L584.8,95.9z"/>
<polygon class="head" style="fill:none;stroke:#403754;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
	887.5,72.1 974.8,179.3 933,190.7 787.8,56 784.8,27.5 934.5,27.5 "/>
<path class="head" style="fill:none;stroke:#403754;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1192,125.3c0,0-35.1,75-35.1,77.8c0,2.8,60.7,47.4,60.7,47.4l-29.4,27.5l-89.2-63.6l46.5-130.9l-65.5-43.6L1033.6,94L1008,65.5
	l17-38h132.7l46.7,43.6l138.5,48.4l-7.6,43.6L1192,125.3z"/>
<g>
	<path class="head" style="fill:none;" d="M1547.3,35.5c-2.4,24.2-3.6,36.3-4.2,42.4c-1.3,0.1-3,0.1-5.2,0.1c-4.2,0-8.8-0.1-12.4-0.3
		l-4.9-42.2H1547.3 M1556.2,27.5h-44.5l6.8,57.9c0,0,10.5,0.6,19.6,0.6c6.8,0,12.7-0.3,12.7-1.6C1550.7,82.6,1554,49.7,1556.2,27.5
		L1556.2,27.5z"/>
</g>
<path class="head" style="fill:none;stroke:#403754;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1772.7,544.6c-33.2,0.9-112-43.6-112-43.6V391.9l43.6-8.5l5.7,93h20.9V345.4l-92,38.9l-6.6,130l-126.2,129l-34.2-28.5l82.5-108.2
	l-76.9-37l4.7-48.4l101.5,24.7V343.5l-177.4-76.9c-35.1,88.2-126.2,145.2-126.2,145.2l-24.7-28.5l87.3-130l-145.2-56l15.2-33.2
	l153.7,33.2V94.9l-147.1-55l-13.3-12.3h143.1l25.8,9.5l8.5-9.5h98.6l-58.7,32.3l0.9,149l201.1,100.6l4.7,19.9l142.3-58.8
	C1809.7,495.3,1772.7,544.6,1772.7,544.6z"/>
<path class="head" style="fill:none;stroke:#403754;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1766,210.7c0,0-35.1,58.8-116.7,85.4l-193.6-105.3V68.3l31.3-16.1l20.9,74l71.2-32.3V33.2h39.8l12.3,88.2l-88.2,53.1l98.7,60.7
	l77.8-51.2l3.5-156.6h36.7L1766,210.7z"/>
<path class="head" style="fill:none;stroke:#403754;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1698.7,169.9c0,0-56.9,38.9-73.1,39.8s-29.4-26.6-29.4-26.6l57.9-56l-7.9-99.6h47.3L1698.7,169.9z"/>
<polygon class="head" style="fill:none;stroke:#403754;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
	952.9,346.3 960.5,296 1070.6,249.6 1197.7,315 1249.9,249.6 1286,273.3 1213.9,389 1286,432.7 1425.4,305.5 1555.4,360.6 
	1551.6,404.2 1447.3,373.8 1440.6,494.3 1405.5,525.7 1393.2,419.4 1312.5,491.5 1309.7,656.6 1184.4,778 1062,696.4 1090.5,669.9 
	1170.2,711.6 1245.2,643.3 1116.1,563.6 1140.8,532.3 1249,576.9 1253.7,485.8 1151.2,422.2 989,503.8 952.9,471.6 1136.1,357.7 
	1069.6,306.5 "/>
<path class="head" style="fill:none;stroke:#403754;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1337.2,489.6l34.2-13.3l13.3,104.4l94.9-84.4l32.3,17.1l-98.7,112.9l98.7,43.6l137.6-141.4l149.9,56.9l10.4,201.1l-56,46.5
	l-32.3-24.7l39.8-45.5l-1.9-143.3l-77.8-13.3l-4.7,124.3l-37,2.8l-9.5-105.3l-75,80.6v187.9l-111,107.2l-31.3-30.4l74-90.1l-74-53.1
	l-13.3-35.1c0,0,21.8-29.4,94.9,27.5l6.6-102.5l-164.1-67.4V489.6z"/>
<polygon class="head" style="fill:none;stroke:#403754;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
	1573.4,708.8 1613.3,673.7 1627.5,771.4 1696.8,735.3 1706.3,628.1 1736.6,628.1 1744.2,749.6 1670.2,816.9 1804.9,876.7 
	1788.8,915.6 1584.8,845.4 "/>
</svg>
	<p>PRESERVAMOS TUS RAICES</p>

	</div>

    <article class="ad">
        <section class="ad__container">
            <section class="ad__container__info">
                <p class="ad__container__info__tittle">INSCRIBETE A LA FERIA ARTESANAL</p>
                <p class="ad__container__info__text">Ya esta abieta la convocatoria para participar en la exhibición comercial que se realizara en el marco de
                    la Feria Bonita de Bucaramanga. ¡Plazo: agosto 24 de 2018!</p>
                <button class="ad__container__info__button"> MÁS INFORMACIÓN </button>
            </section>

            <section class="ad__container__img">
                <img class="ad__container__img__object" src="./imagenes/publicidad_03.png">
            </section>
        </section>
    </article>

    <section class="property">

        <article class="property__color">
            <img class="property__color__one" src="./imagenes/caracte_01.png">
            <footer class="property__color__text">
                <p class="property__color__text__tittle">Diseños unicos</p>
                <p class="property__color__text__info"> Para la realización de una artesanía los artesanos emplean diferentes tecnicas y oficios.
                </p>
            </footer>
        </article>

        <article class="property__color">
            <img class="property__color__one" src="./imagenes/caracte_02.png">
            <footer class="property__color__text">
                <p class="property__color__text__tittle">Diversidad de colores</p>
                <p class="property__color__text__info">Gracias a su diversidad de colores puede expresar su cultura, sueños, entre otros.
                </p>
            </footer>
        </article>

        <article class="property__color">
            <img class="property__color__one" src="./imagenes/caracte_03.png">
            <footer class="property__color__text">
                <p class="property__color__text__tittle">Realizadas por artesanos colombianos</p>
                <p class="property__color__text__info"> Los artesanos dedican todo su tiempo para aprender la tecnica y tener más experiencia.
                </p>
            </footer>
        </article>
    </section>

    <div class="bar"></div>

    <!-- Animación -->
    <div id="bubbleContainer" class="animation">

        <p>MOLAS, FORMAS DE TRADICIÓN Y PROTECCIÓN</p>
		

        <!-- background color -->
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1920 1080" style="enable-background:new 0 0 1920 1080;" xml:space="preserve">
<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1313,300.8L858.2,484.4c11.2-29.1,24-68.1,40.4-108.7l4.8,33.6c1.1,7.6,8.2,13,15.8,11.9c7.6-1.1,13-8.2,11.9-15.8L920,327.1
	c7.7-15.8,16-31.3,25.1-46l15,105.5c1.1,7.6,8.2,13,15.8,11.9c7.6-1.1,13-8.2,11.9-15.8l-19.2-135.1c6-7.5,12.3-14.6,18.9-21.2
	l20,141.2c1.1,7.6,8.2,13,15.8,11.9s13-8.2,11.9-15.8l-22.5-158.8c9.5-6.8,19.6-12.5,30.2-17l22.2,156.6c1.1,7.6,8.2,13,15.8,11.9
	c7.6-1.1,13-8.2,11.9-15.8l-22.9-161.1c0,0,0,0,0.1,0c11.1-2.1,21.8-3.7,31.9-4.9l20.8,146.9c1.1,7.6,8.2,13,15.8,11.9
	c7.6-1.1,13-8.2,11.9-15.8L1130,172.2c11.6-0.5,22.5-0.5,32.7,0.1l17.9,126.1c1.1,7.6,8.2,13,15.8,11.9c7.6-1.1,13-8.2,11.9-15.8
	l-16.9-118.8c12.6,2.3,23.9,5.5,34,9.4l12.8,90.3c1.1,7.6,8.2,13,15.8,11.9c7.6-1.1,13-8.2,11.9-15.8l-10-70.4
	C1311.4,239,1313,300.8,1313,300.8z"/>
<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M569,496c0,0-283,74-261-346c0,0,9.2-2.8,28.5-0.5v152c0,6.6,5.4,12,12,12h7c6.6,0,12-5.4,12-12V156.2c6.6,1.9,13.8,4.4,21.6,7.4
	v257.6c0,8.5,6.9,15.4,15.4,15.4h0.2c8.5,0,15.4-6.9,15.4-15.4V177.2c6.9,3.4,14.1,7.1,21.6,11.3V453c0,8.5,7,15.5,15.5,15.5
	s15.5-7,15.5-15.5V207c7,4.4,14.2,9.2,21.6,14.3l0,236.7c0,8.5,7,15.5,15.5,15.5h0c8.5,0,15.5-7,15.5-15.5V243.7
	c7,5.3,14.2,10.9,21.6,16.8V454c0,8.5,7,15.5,15.5,15.5s15.5-7,15.5-15.5V267.1c5.4-4.2,12.6-9.5,21.6-15.7l0,189.6
	c0,8.5,7,15.5,15.5,15.5h0c8.5,0,15.5-7,15.5-15.5V232.3c6.7-3.8,13.9-7.6,21.6-11.4v202c0,8.5,7,15.5,15.5,15.5s15.5-7,15.5-15.5
	V207c6.9-2.8,14.1-5.6,21.6-8.3V389c0,8.5,7,15.5,15.5,15.5h0c8.5,0,15.5-7,15.5-15.5l0-200.3c7-2,14.2-4,21.6-5.8v100
	c0,8.5,7,15.5,15.5,15.5s15.5-7,15.5-15.5V176.3c10.8-2,21.9-3.8,33.5-5.3C823,171,859,446,569,496z"/>
<g>
	<path style="fill:#F2F2F2;" d="M1453.5,365c14.6,0,26.5,11.9,26.5,26.5s-11.9,26.5-26.5,26.5s-26.5-11.9-26.5-26.5
		S1438.9,365,1453.5,365 M1453.5,357c-19,0-34.5,15.5-34.5,34.5s15.5,34.5,34.5,34.5s34.5-15.5,34.5-34.5S1472.5,357,1453.5,357
		L1453.5,357z"/>
</g>
<g>
	<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M1432.3,476.7L1432.3,476.7l-20.4,209.7c-4.3,5.3-20.9,25-50,49.5l23.9-245.1l-120.2-146.2l43.7-17.7L1432.3,476.7L1432.3,476.7z"
		/>
	<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M1354.3,499.7L1354.3,499.7l-25.4,261.7c-14.2,10.1-30.3,20.4-48.2,30.3l27.1-277.9l-114.8-139.7l43.7-17.7L1354.3,499.7
		L1354.3,499.7z"/>
	<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M1276.3,527.7L1276.3,527.7L1249,808h0c-14.7,7-30.4,13.6-47.1,19.7l27.9-285.8l-112.6-136.9l43.7-17.7L1276.3,527.7L1276.3,527.7z
		"/>
	<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M1198.3,557.7L1198.3,557.7L1171,837.8c-14.8,4.4-30.2,8.3-46.4,11.7l27.1-277.7l-111.5-135.6l43.7-17.7L1198.3,557.7L1198.3,557.7
		z"/>
	<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M1120.3,583.7L1120.3,583.7L1093.9,855c-14.7,2.2-30,3.9-45.7,5.1l25.6-262.2l-108-131.4l43.7-17.7L1120.3,583.7L1120.3,583.7z"/>
	<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M1042.3,609.7L1042.3,609.7l-24.5,251.8c-14.6,0.3-29.7,0.2-45.2-0.5l23.1-237.1L891.2,496.8l43.7-17.8L1042.3,609.7L1042.3,609.7z
		"/>
	<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M964.3,638.7L964.3,638.7l-21.4,220.2c-13.3-1.2-27-2.8-40.9-4.9c0,0-1.3-0.2-3.8-0.5l19.6-200.6L814.9,527.8l43.7-17.7
		L964.3,638.7L964.3,638.7z"/>
	<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M886.3,667.7L886.3,667.7l-17.6,180.7c-12.2-2.4-27.3-5.6-44.3-9.9l15.3-156.7L729.3,547.5c23.4-0.9,40.6-4,52.4-7.1L886.3,667.7
		L886.3,667.7z"/>
	<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M808.3,697.7L808.3,697.7l-12.9,133c-13.9-4-28.7-8.7-43.8-14l10.2-104.8L618.9,538.1c24.5,4.5,46.2,7.2,65.3,8.6h0L808.3,697.7
		L808.3,697.7z"/>
	<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M730.3,727.7L730.3,727.7l-7.5,78.1c-14.4-5.8-28.9-12.2-43.3-19.3l4.4-44.7L522.6,545.9c13.5-7.7,28.1-13.8,43.4-18L730.3,727.7
		L730.3,727.7z"/>
	<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M612,696.6L612,696.6l-4.5,46.8c-6.7-4.9-13.2-10-19.6-15.3l2.4-24.9l-92.4-112.3c-1.9-7.9-3.5-16-4.6-24.4c2.3-2,4.6-3.9,7-5.7
		L612,696.6L612,696.6z"/>
	<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M899,892c-0.6,0-18.2,40.6-69.7,67.3l14.6-38.7c2.3-6.2-0.8-13.1-7-15.5l-9.3-3.5c-6.2-2.3-13.1,0.8-15.5,7l-25.2,66.5
		c-7.4,1.9-15.3,3.4-23.6,4.5l29.7-78.3c2.3-6.2-0.8-13.1-7-15.5l-9.3-3.5c-6.2-2.3-13.1,0.8-15.5,7L726,982
		c-6.3,0-12.8-0.3-19.5-0.7l37.3-98.6c2.3-6.2-0.8-13.1-7-15.5l-9.3-3.5c-6.2-2.3-13.1,0.8-15.5,7l-40.3,106.5
		c-7-1.2-14.3-2.6-21.7-4.2c1.8-1.2,41-153,41-153S875,888,899,892z"/>
	<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M671.7,977.2L712,870.7c2.3-6.2,9.3-9.3,15.5-7l9.3,3.5c6.2,2.3,9.3,9.3,7,15.5l-37.3,98.6"/>
	<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M726,982l35.1-92.8c2.3-6.2,9.3-9.3,15.5-7l9.3,3.5c6.2,2.3,9.3,9.3,7,15.5l-29.7,78.3"/>
	<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M786.9,975.1l25.2-66.5c2.3-6.2,9.3-9.3,15.5-7l9.3,3.5c6.2,2.3,9.3,9.3,7,15.5l-14.6,38.7"/>
	<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M1436.6,873.2l-7.2-91.1c-0.5-6.6-6.3-11.5-12.9-11l-10,0.8c-6.6,0.5-11.5,6.3-11,12.9l10,127.4c-6.8,5.7-14.4,10.8-22.8,15
		l-7.6-96.8c-0.5-6.6-6.3-11.5-12.9-11l-10,0.8c-6.6,0.5-11.5,6.3-11,12.9l8.3,105.7c-7.4,1.6-15.2,2.7-23.6,3.3c0,3-13-128-13-128
		l142-126C1455,688,1476.9,797.8,1436.6,873.2z"/>
	<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M726,982l35.1-92.8c2.3-6.2,9.3-9.3,15.5-7l9.3,3.5c6.2,2.3,9.3,9.3,7,15.5l-29.7,78.3"/>
	<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M671.7,977.2L712,870.7c2.3-6.2,9.3-9.3,15.5-7l9.3,3.5c6.2,2.3,9.3,9.3,7,15.5l-37.3,98.6"/>
	<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M639.1,1063.3"/>
	<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M786.9,975.1l25.2-66.5c2.3-6.2,9.3-9.3,15.5-7l9.3,3.5c6.2,2.3,9.3,9.3,7,15.5l-14.6,38.7"/>
</g>
<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1497.7,661.5c82.4-41.8,110.2-90.6,115.6-145.5H1501v-40h112.9c-4.2-77.4-39.2-120.2-98.9-157c-60-37-184-36-186-37
	c0,0-7-132-181-133S929,258,865,418s-149,100-176,55c195.5-93.5,145.5-320.5,142.5-323.5c-128.1-2-274,93.7-274,96
	c-62-103-264-125-265-124c-18,398,168,403,168,400c3,256,211,284,211,284s-52,175-53,176c224,62,304-81,303-81c222,24,370-64,370-64
	S1304,957,1307,957c198,30,172-285,173-287C1486.2,667.2,1492.1,664.4,1497.7,661.5"/>
<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M737,484c0,0,74-47,109-152s12-211,12-211c-182,1-293,95-293,95C394,70,266,102,266,102c-24,422,163,448,163,448
	c-9,218,210,281,210,281l-46,173c235,79,354-72,354-72s104,1,153-1s174-50,174-50l13,110c242,39,223-297,223-297
	c124-47,166-174,114-309s-270-132-270-132s-49-124-171-125s-186,4-267,118S816,533,737,484z"/>
<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M182,256V76h31v201l-58,10l8,274l210-1c0,0-105-61-126-238l-41,9l8,179l38,4v-21h-17l4-87l59,127l-107,5l-6-225l55-11
	c0,0-26-159,10-226c0,0,109-23,239,55l-5-100h-74c0,0,2,27,48,30l2,28c0,0-145-71-298-35l-7,204L182,256z"/>
<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M804,79v20c0,0-137,6-234,81l-52-31l-7-118h336l6,40l51,10l11,63c0,0,46-53,171-61V52l-126,1v37l-25,16l-5-53l-51-1l-3-27h234l7,78
	c0,0-150-6-221,113L886,99h-53l-9-47l-279,3l-4,76l20,18l108-50l-78-4l-1,19h-25V74h138v14C703,88,784,69,804,79z"/>
<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1136,25v74c0,0,199-1,237,135h34V73h-136l78,48V99h22l6,87c0,0-60-110-208-106V47h253l6,187c0,0,90-4,118,40h194V25h-263v159
	c0,0,57,10,82,40h125V70h-157v74l41,28h78v-57l-68-4v10l36,5v23h-33l-31-17l2-38h109v104h-93c0,0-17-16-64-30l-7-124l214,4l3,194
	l-159,4c0,0-60-35-94-34V25H1136z"/>
<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1693,503h-21c0,0,10-127-78-204l142-3l9,249l-49,9c0,0-17,111-134,170v37l169,5l-9-122l-46,65l28,5l1,22h-106c0,0,100-67,116-160
	h27l18,212h-225l-2-76c0,0,136-68,137-179l46-12V326l-59,1l12,28l23-5l5,15l-17,12C1680,377,1695,404,1693,503z"/>
<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1396,1004v18l375,10l-11-212l-223-5c0,0-46,130-81,159l260,10l-2-113l-142-4l-18,60l107,5l1-9l-76-5l5-20l91,2l8,55l-181-2l46-111
	l180,3l4,158L1396,1004z"/>
<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M890,1014l-23,21l389-3l-6-113c0,0-36,39-302,42l-14,21h263v-21h26l4,44L890,1014z"/>
<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M291,938l183-6v19l-205,3v-61l273-11l-29,112l-288,14l-13-166l347-14c0,0,20,10,47,17l-53,202l-374,10l-16-260l295-18
	c0,0-60-63-74-162l-193-5l-2,125l177,2l-23-69l-99-3v17l78,6l14,24H215l-2-80l153,5c0,0,9,72,45,119l-248,5V585l239,5
	c0,0,26,146,116,209l-329,18l11,215l327-9l50-160l-11-9l-321,9l4,118l237-4l29-69l-224,7V938z"/>
<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1372,391.5"/>
<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1438,471.5"/>
<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1558.3,356.4"/>
<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1347.4,360.5"/>
<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1343,391.5"/>
<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1525.8,520.1"/>
<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1599.9,409.6"/>
<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1601,391.5"/>
<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1453.5,244"/>
<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1318.7,331.5"/>
<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1306,391.5"/>
<path style="fill:none;stroke:#F2F2F2;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1432.3,537.5"/>

<!-- foreground path -->
<path class="pathA" style="fill:none;stroke:#406BB1;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1313,300.8L858.2,484.4c11.2-29.1,24-68.1,40.4-108.7l4.8,33.6c1.1,7.6,8.2,13,15.8,11.9c7.6-1.1,13-8.2,11.9-15.8L920,327.1
	c7.7-15.8,16-31.3,25.1-46l15,105.5c1.1,7.6,8.2,13,15.8,11.9c7.6-1.1,13-8.2,11.9-15.8l-19.2-135.1c6-7.5,12.3-14.6,18.9-21.2
	l20,141.2c1.1,7.6,8.2,13,15.8,11.9s13-8.2,11.9-15.8l-22.5-158.8c9.5-6.8,19.6-12.5,30.2-17l22.2,156.6c1.1,7.6,8.2,13,15.8,11.9
	c7.6-1.1,13-8.2,11.9-15.8l-22.9-161.1c0,0,0,0,0.1,0c11.1-2.1,21.8-3.7,31.9-4.9l20.8,146.9c1.1,7.6,8.2,13,15.8,11.9
	c7.6-1.1,13-8.2,11.9-15.8L1130,172.2c11.6-0.5,22.5-0.5,32.7,0.1l17.9,126.1c1.1,7.6,8.2,13,15.8,11.9c7.6-1.1,13-8.2,11.9-15.8
	l-16.9-118.8c12.6,2.3,23.9,5.5,34,9.4l12.8,90.3c1.1,7.6,8.2,13,15.8,11.9c7.6-1.1,13-8.2,11.9-15.8l-10-70.4
	C1311.4,239,1313,300.8,1313,300.8z"/>
<path class="pathC" id="start" style="fill:none;stroke:#D1D055;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M569,496c0,0-283,74-261-346c0,0,9.2-2.8,28.5-0.5v152c0,6.6,5.4,12,12,12h7c6.6,0,12-5.4,12-12V156.2c6.6,1.9,13.8,4.4,21.6,7.4
	v257.6c0,8.5,6.9,15.4,15.4,15.4h0.2c8.5,0,15.4-6.9,15.4-15.4V177.2c6.9,3.4,14.1,7.1,21.6,11.3V453c0,8.5,7,15.5,15.5,15.5
	s15.5-7,15.5-15.5V207c7,4.4,14.2,9.2,21.6,14.3l0,236.7c0,8.5,7,15.5,15.5,15.5h0c8.5,0,15.5-7,15.5-15.5V243.7
	c7,5.3,14.2,10.9,21.6,16.8V454c0,8.5,7,15.5,15.5,15.5s15.5-7,15.5-15.5V267.1c5.4-4.2,12.6-9.5,21.6-15.7l0,189.6
	c0,8.5,7,15.5,15.5,15.5h0c8.5,0,15.5-7,15.5-15.5V232.3c6.7-3.8,13.9-7.6,21.6-11.4v202c0,8.5,7,15.5,15.5,15.5s15.5-7,15.5-15.5
	V207c6.9-2.8,14.1-5.6,21.6-8.3V389c0,8.5,7,15.5,15.5,15.5h0c8.5,0,15.5-7,15.5-15.5l0-200.3c7-2,14.2-4,21.6-5.8v100
	c0,8.5,7,15.5,15.5,15.5s15.5-7,15.5-15.5V176.3c10.8-2,21.9-3.8,33.5-5.3C823,171,859,446,569,496z"/>
<g>
	<path class="path" style="fill:#4ABCEA;" d="M1453.5,365c14.6,0,26.5,11.9,26.5,26.5s-11.9,26.5-26.5,26.5s-26.5-11.9-26.5-26.5
		S1438.9,365,1453.5,365 M1453.5,357c-19,0-34.5,15.5-34.5,34.5s15.5,34.5,34.5,34.5s34.5-15.5,34.5-34.5S1472.5,357,1453.5,357
		L1453.5,357z"/>
</g>
<g>
	<path class="path" style="fill:none;stroke:#C54495;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M1432.3,476.7L1432.3,476.7l-20.4,209.7c-4.3,5.3-20.9,25-50,49.5l23.9-245.1l-120.2-146.2l43.7-17.7L1432.3,476.7L1432.3,476.7z"
		/>
	<path class="path" style="fill:none;stroke:#37978E;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M1354.3,499.7L1354.3,499.7l-25.4,261.7c-14.2,10.1-30.3,20.4-48.2,30.3l27.1-277.9l-114.8-139.7l43.7-17.7L1354.3,499.7
		L1354.3,499.7z"/>
	<path class="path" style="fill:none;stroke:#EC6C2A;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M1276.3,527.7L1276.3,527.7L1249,808h0c-14.7,7-30.4,13.6-47.1,19.7l27.9-285.8l-112.6-136.9l43.7-17.7L1276.3,527.7L1276.3,527.7z
		"/>
	<path class="path" style="fill:none;stroke:#7F2F8F;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M1198.3,557.7L1198.3,557.7L1171,837.8c-14.8,4.4-30.2,8.3-46.4,11.7l27.1-277.7l-111.5-135.6l43.7-17.7L1198.3,557.7L1198.3,557.7
		z"/>
	<path class="path" style="fill:none;stroke:#4ABCEA;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M1120.3,583.7L1120.3,583.7L1093.9,855c-14.7,2.2-30,3.9-45.7,5.1l25.6-262.2l-108-131.4l43.7-17.7L1120.3,583.7L1120.3,583.7z"/>
	<path class="path" style="fill:none;stroke:#D8B3D4;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M1042.3,609.7L1042.3,609.7l-24.5,251.8c-14.6,0.3-29.7,0.2-45.2-0.5l23.1-237.1L891.2,496.8l43.7-17.8L1042.3,609.7L1042.3,609.7z
		"/>
	<path class="path" style="fill:none;stroke:#7EC47D;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M964.3,638.7L964.3,638.7l-21.4,220.2c-13.3-1.2-27-2.8-40.9-4.9c0,0-1.3-0.2-3.8-0.5l19.6-200.6L814.9,527.8l43.7-17.7
		L964.3,638.7L964.3,638.7z"/>
	<path class="path" style="fill:none;stroke:#EB4A33;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M886.3,667.7L886.3,667.7l-17.6,180.7c-12.2-2.4-27.3-5.6-44.3-9.9l15.3-156.7L729.3,547.5c23.4-0.9,40.6-4,52.4-7.1L886.3,667.7
		L886.3,667.7z"/>
	<path class="path" style="fill:none;stroke:#C54495;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M808.3,697.7L808.3,697.7l-12.9,133c-13.9-4-28.7-8.7-43.8-14l10.2-104.8L618.9,538.1c24.5,4.5,46.2,7.2,65.3,8.6h0L808.3,697.7
		L808.3,697.7z"/>
	<path class="path" style="fill:none;stroke:#D1D055;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M730.3,727.7L730.3,727.7l-7.5,78.1c-14.4-5.8-28.9-12.2-43.3-19.3l4.4-44.7L522.6,545.9c13.5-7.7,28.1-13.8,43.4-18L730.3,727.7
		L730.3,727.7z"/>
	<path class="path" style="fill:none;stroke:#7F2F8F;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M612,696.6L612,696.6l-4.5,46.8c-6.7-4.9-13.2-10-19.6-15.3l2.4-24.9l-92.4-112.3c-1.9-7.9-3.5-16-4.6-24.4c2.3-2,4.6-3.9,7-5.7
		L612,696.6L612,696.6z"/>
	<path class="path" style="fill:none;stroke:#4ABCEA;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M899,892c-0.6,0-18.2,40.6-69.7,67.3l14.6-38.7c2.3-6.2-0.8-13.1-7-15.5l-9.3-3.5c-6.2-2.3-13.1,0.8-15.5,7l-25.2,66.5
		c-7.4,1.9-15.3,3.4-23.6,4.5l29.7-78.3c2.3-6.2-0.8-13.1-7-15.5l-9.3-3.5c-6.2-2.3-13.1,0.8-15.5,7L726,982
		c-6.3,0-12.8-0.3-19.5-0.7l37.3-98.6c2.3-6.2-0.8-13.1-7-15.5l-9.3-3.5c-6.2-2.3-13.1,0.8-15.5,7l-40.3,106.5
		c-7-1.2-14.3-2.6-21.7-4.2c1.8-1.2,41-153,41-153S875,888,899,892z"/>
	<path class="path" style="fill:none;stroke:#4ABCEA;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M671.7,977.2L712,870.7c2.3-6.2,9.3-9.3,15.5-7l9.3,3.5c6.2,2.3,9.3,9.3,7,15.5l-37.3,98.6"/>
	<path class="path" style="fill:none;stroke:#4ABCEA;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M726,982l35.1-92.8c2.3-6.2,9.3-9.3,15.5-7l9.3,3.5c6.2,2.3,9.3,9.3,7,15.5l-29.7,78.3"/>
	<path class="path" style="fill:none;stroke:#4ABCEA;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M786.9,975.1l25.2-66.5c2.3-6.2,9.3-9.3,15.5-7l9.3,3.5c6.2,2.3,9.3,9.3,7,15.5l-14.6,38.7"/>
	<path class="path" style="fill:none;stroke:#EB4A33;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M1436.6,873.2l-7.2-91.1c-0.5-6.6-6.3-11.5-12.9-11l-10,0.8c-6.6,0.5-11.5,6.3-11,12.9l10,127.4c-6.8,5.7-14.4,10.8-22.8,15
		l-7.6-96.8c-0.5-6.6-6.3-11.5-12.9-11l-10,0.8c-6.6,0.5-11.5,6.3-11,12.9l8.3,105.7c-7.4,1.6-15.2,2.7-23.6,3.3c0,3-13-128-13-128
		l142-126C1455,688,1476.9,797.8,1436.6,873.2z"/>
	<path class="path" style="fill:none;stroke:#4ABCEA;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M726,982l35.1-92.8c2.3-6.2,9.3-9.3,15.5-7l9.3,3.5c6.2,2.3,9.3,9.3,7,15.5l-29.7,78.3"/>
	<path class="path" style="fill:none;stroke:#4ABCEA;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M671.7,977.2L712,870.7c2.3-6.2,9.3-9.3,15.5-7l9.3,3.5c6.2,2.3,9.3,9.3,7,15.5l-37.3,98.6"/>
	<path class="path" style="fill:none;stroke:#4ABCEA;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M639.1,1063.3"/>
	<path class="path" style="fill:none;stroke:#4ABCEA;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
		M786.9,975.1l25.2-66.5c2.3-6.2,9.3-9.3,15.5-7l9.3,3.5c6.2,2.3,9.3,9.3,7,15.5l-14.6,38.7"/>
</g>
<path class="pathBag" style="fill:none;stroke:#D8B3D4;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1497.7,661.5c82.4-41.8,110.2-90.6,115.6-145.5H1501v-40h112.9c-4.2-77.4-39.2-120.2-98.9-157c-60-37-184-36-186-37
	c0,0-7-132-181-133S929,258,865,418s-149,100-176,55c195.5-93.5,145.5-320.5,142.5-323.5c-128.1-2-274,93.7-274,96
	c-62-103-264-125-265-124c-18,398,168,403,168,400c3,256,211,284,211,284s-52,175-53,176c224,62,304-81,303-81c222,24,370-64,370-64
	S1304,957,1307,957c198,30,172-285,173-287C1486.2,667.2,1492.1,664.4,1497.7,661.5"/>
<path class="pathBag" style="fill:none;stroke:#D8B3D4;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M737,484c0,0,74-47,109-152s12-211,12-211c-182,1-293,95-293,95C394,70,266,102,266,102c-24,422,163,448,163,448
	c-9,218,210,281,210,281l-46,173c235,79,354-72,354-72s104,1,153-1s174-50,174-50l13,110c242,39,223-297,223-297
	c124-47,166-174,114-309s-270-132-270-132s-49-124-171-125s-186,4-267,118S816,533,737,484z"/>
<path class="pathBag" style="fill:none;stroke:#D8B3D4;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M182,256V76h31v201l-58,10l8,274l210-1c0,0-105-61-126-238l-41,9l8,179l38,4v-21h-17l4-87l59,127l-107,5l-6-225l55-11
	c0,0-26-159,10-226c0,0,109-23,239,55l-5-100h-74c0,0,2,27,48,30l2,28c0,0-145-71-298-35l-7,204L182,256z"/>
<path class="pathBag" style="fill:none;stroke:#D8B3D4;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M804,79v20c0,0-137,6-234,81l-52-31l-7-118h336l6,40l51,10l11,63c0,0,46-53,171-61V52l-126,1v37l-25,16l-5-53l-51-1l-3-27h234l7,78
	c0,0-150-6-221,113L886,99h-53l-9-47l-279,3l-4,76l20,18l108-50l-78-4l-1,19h-25V74h138v14C703,88,784,69,804,79z"/>
<path class="pathBag" style="fill:none;stroke:#D8B3D4;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1136,25v74c0,0,199-1,237,135h34V73h-136l78,48V99h22l6,87c0,0-60-110-208-106V47h253l6,187c0,0,90-4,118,40h194V25h-263v159
	c0,0,57,10,82,40h125V70h-157v74l41,28h78v-57l-68-4v10l36,5v23h-33l-31-17l2-38h109v104h-93c0,0-17-16-64-30l-7-124l214,4l3,194
	l-159,4c0,0-60-35-94-34V25H1136z"/>
<path class="pathBag" style="fill:none;stroke:#D8B3D4;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1693,503h-21c0,0,10-127-78-204l142-3l9,249l-49,9c0,0-17,111-134,170v37l169,5l-9-122l-46,65l28,5l1,22h-106c0,0,100-67,116-160
	h27l18,212h-225l-2-76c0,0,136-68,137-179l46-12V326l-59,1l12,28l23-5l5,15l-17,12C1680,377,1695,404,1693,503z"/>
<path class="pathBag" style="fill:none;stroke:#D8B3D4;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1396,1004v18l375,10l-11-212l-223-5c0,0-46,130-81,159l260,10l-2-113l-142-4l-18,60l107,5l1-9l-76-5l5-20l91,2l8,55l-181-2l46-111
	l180,3l4,158L1396,1004z"/>
<path class="pathBag" style="fill:none;stroke:#D8B3D4;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M890,1014l-23,21l389-3l-6-113c0,0-36,39-302,42l-14,21h263v-21h26l4,44L890,1014z"/>
<path class="pathBag" style="fill:none;stroke:#D8B3D4;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M291,938l183-6v19l-205,3v-61l273-11l-29,112l-288,14l-13-166l347-14c0,0,20,10,47,17l-53,202l-374,10l-16-260l295-18
	c0,0-60-63-74-162l-193-5l-2,125l177,2l-23-69l-99-3v17l78,6l14,24H215l-2-80l153,5c0,0,9,72,45,119l-248,5V585l239,5
	c0,0,26,146,116,209l-329,18l11,215l327-9l50-160l-11-9l-321,9l4,118l237-4l29-69l-224,7V938z"/>
<path class="path" style="fill:none;stroke:#4ABCEA;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1372,391.5"/>
<path style="fill:none;stroke:#4ABCEA;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1438,471.5"/>
<path class="path" style="fill:none;stroke:#4ABCEA;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1558.3,356.4"/>
<path class="path" style="fill:none;stroke:#4ABCEA;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1347.4,360.5"/>
<path class="path" style="fill:none;stroke:#4ABCEA;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1343,391.5"/>
<path class="path" style="fill:none;stroke:#4ABCEA;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1525.8,520.1"/>
<path class="path" style="fill:none;stroke:#4ABCEA;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1599.9,409.6"/>
<path class="path" style="fill:none;stroke:#4ABCEA;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1601,391.5"/>
<path class="path" style="fill:none;stroke:#4ABCEA;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1453.5,244"/>
<path class="path" style="fill:none;stroke:#4ABCEA;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1318.7,331.5"/>
<path class="path" style="fill:none;stroke:#4ABCEA;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1306,391.5"/>
<path class="path" style="fill:none;stroke:#4ABCEA;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
	M1432.3,537.5"/>

</svg>
	
</div>

    <article class="interaccion">

        <section class="interaccion__container">
            <section class="interaccion__container__img">
                <img class="interaccion__container__img__object" id="imagen" src="./imagenes/caracteristica_01.png">

            </section>

            <section class="interaccion__container__info">
                <p class="interaccion__container__info__tittle">DESCUBRE LO QUE PUEDES HACER CON EL FIQUE</p>
                <p class="interaccion__container__info__text">Este oficio reproduce el conocimiento ancestral de la tecnica en espiral de tintes y mordientes vegetales
                    como sal sábila, bellota del platano, naranja y limon.</p>

                <section class="interaccion__container__info__btn">
                    <button class="interaccion__container__info__btn__one">Jarron</button>
                    <button class="interaccion__container__info__btn__two">Frutero</button>
                    <button class="interaccion__container__info__btn__three">Canasto</button>
                </section>
            </section>
        </section>
    </article>

    <section class="galeria">
        <section class="galeria__text">
            <p>GALERIA ARTESANAL</p>
        </section>

        <section class="galeria__img">

            <section>
                <img class="galeria__img__photo" src="./imagenes/foto1.png">
            </section>
            <section>
                <img class="galeria__img__photo" src="./imagenes/foto2.png">
            </section>
            <section>
                <img class="galeria__img__photo" src="./imagenes/foto3.png">
            </section>
            <section>
                <img class="galeria__img__photo" src="./imagenes/foto4.png">
            </section>


        </section>

    </section>

    <article class="specs">

        <section class="specs__container">

            <section class="specs__container__info">
                <p class="specs__container__info__tittle">FRUTERO GUACAMAYAS</p>
                <p class="specs__container__info__text">
                    <strong>Origen:</strong> Guacamayas, Boyacá
                    <br>
                    <strong> Materiales:</strong> Fique (Fibras vegetales)
                    <br>
                    <strong>Dimensiones:</strong> 15 X 17 X 28 cm
                    <br>
                    <strong>Categoria:</strong> Hogar y Decoración - Indígena y Tradicional
                    <br>
                </p>

                <p class="specs__container__info__text"> Originalmente, con la técnica del rollo se elaboraban productos para diferentes usos como los “pesos” para
                    medir quesos y cuajadas; pequeños canastos para colocar la lana hilada; canastos con manija y tapa de
                    diversos tamaños en los que las niñas llevaban sus “nueves” a la escuela y para guardar alimentos.
            </section>

            <section class="specs__container__img">
                <img class="specs__container__img__object" src="./imagenes/bowl_amarillo.png">
            </section>
        </section>
    </article>

    <section class="follow">
        <article class="follow__container">

            <section class="follow__container__img">
                <img class="follow__container__img__leon" src="./imagenes/leon_01.png">
            </section>
            <section class="follow__container__info">
                <p class="follow__container__info__tittle">SIGUE A NUESTROS ARTESANOS</p>
                <p class="follow__container__info__text">Si quieres seguir más de cerca a nuestros artesanos, estaras al tanto de las ferias artesanales y conoceras
                    más sobre sus artesanias.</p>
                <input type="text" name="fname" placeholder="  Correo electronico">
                <br>
                <button>REGISTRATE</button>
            </section>
        </article>
    </section>

    <footer class="footer">
        <article class="footer__container">
            <section class="footer__container__info">

                <p class="footer__container__info__name">ARTESANIAS DE COLOMBIA</p>
                <p class="footer__container__info__text">
                    <strong>Nuestra Oficina</strong>
                    <br> Cra 2 No. 18A-58, Barrio Las Aguas, Bogotá, Colombia
                </p>

                <p class="footer__container__info__text">
                    <strong>Telefonos</strong>
                    <br> +(57 1) 5550325 - 5550326 - 2861766
                    <br> Línea de atención 01 8000 913082
                </p>

                <p class="footer__container__info__text">
                    <strong>Horarios</strong>
                    <br> Lunes a Viernes
                    <br> 8:00am a 5:00pm Jornada continua
                </p>

                <p class="footer__container__info__text">
                    <strong>Bodega</strong>
                    <br> Cra 2 No. 18A-58, Barrio Las Aguas, Bogotá, Colombia
                    <br> +(57 1) 3104437 - 2119364
                </p>
            </section>
            <img class="footer__container__img" src="./imagenes/pajaro_0.png">
        </article>
    </footer>


    <script src="/style/main.js"></script>
	
	<!-- Animacion-->
	<script src="/style/morphsvg.js"></script>

</body>

</html>