<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style/main.css" />
    <link rel="stylesheet" href="https://use.typekit.net/umy6dwm.css">
    <title>Tienda</title>
</head>

<body>

    <nav class="navbar">
        <section class="navbar__container">
            <img class="navbar__container__logo" src="/imagenes/logo_artesania.png">
            <ul class="navbar__container__items">
                <li class="navbar__container__items__list">
                    <img src="./imagenes/search.png">
                </li>

                <li class="navbar__container__items__list">
                    <img src="./imagenes/perfil.png">
                </li>

                <li class="navbar__container__items__list">
                    <img src="./imagenes/favorite.png">
                </li>

                <li class="navbar__container__items__list">
                    <img src="./imagenes/shoppingBag.png">
                </li>

            </ul>
        </section>
    </nav>

    <header class="background">
        <section class="background__store">
            <p class="background__store__tittle">PRODUCTOS ARTESANÍAS DE COLOMBIA</p>
        </section>
    </header>

    <section class="container">
        <section class="container__box">
            <section class="container__box__one">
            <p class="container__box__one__tittle">CATEGORIAS</p><br>
            <a href="/tienda?categoria=">Todo</a><br>
            <a href="/tienda?categoria=Hogar y decoración">Hogar</a><br>
            <a href="/tienda?categoria=Accesorios">Accesorios</a><br>
            <a href="/tienda?categoria=Oficina">Oficina</a><br>
            </section>
            <section class="container__box__two">
                <p class="tittle">MATERIALES</p><br>
            <a href="/tienda?material=" >Todo</a><br>
            <a href="/tienda?material=Madera">Madera</a><br>
            <a href="/tienda?material=Werregue">Werregue</a><br>
            <a href="/tienda?material=Fique">Fique</a><br>
            <a href="/tienda?material=Hilos de Algodón">Hilos de Algodón</a><br>
            <a href="/tienda?material=Palo Sangre">Palo Sangre</a><br>
            <a href="/tienda?material=Molas">Molas</a><br>
            <a href="/tienda?material=Mopa Mopa">Mopa</a><br>
            <a href="/tienda?material=Oro">Oro</a>
                
            </section>

            <section class="container__box__three">
                <p class="tittle">PRECIO</p><br>
            <a href="/tienda?precio=" >Todo</a><br>
            <a href="/tienda?precio=100" >50 a 100</a><br>
            <a href="/tienda?precio=200" >100 a 200</a><br>
            <a href="/tienda?precio=200" >200 o más</a><br>
            </section>      
        </section>
    </section>

    <section class="container">

        <section class="products">

            {{#each products}}
            <a href="/tienda?producto={{titulo}}">
                <section class="products__crafts">

                    <img class="products__crafts__art" src="{{img}}">
                    <p>{{titulo}}</p>
                    <p>{{precio}} </p>
                    <section class="products__crafts__icon">
                        <ul>
                            <li><a><img src="/imagenes/add.png"></a></li>
                            <li><a><img src="/imagenes/fav.png"></a></li>

                        </ul>
                    </section>
                </section>
            </a>

            {{/each}}

        </section>
    </section>

    <section class="follow">
        <article class="follow__container">

            <section class="follow__container__img">
                <img class="follow__container__img__leon" src="./imagenes/leon_01.png">
            </section>
            <section class="follow__container__info">
                <p class="follow__container__info__tittle">SIGUE A NUESTROS ARTESANOS</p>
                <p class="follow__container__info__text">Si quieres seguir más de cerca a nuestros artesanos, estaras al tanto de las ferias artesanales y conoceras
                    más sobre sus artesanias.</p>
                <input type="text" name="fname" placeholder="  Correo electronico">
                <br>
                <button>REGISTRATE</button>
            </section>
        </article>
    </section>

    <footer class="footer">
        <article class="footer__container">
            <section class="footer__container__info">

                <p class="footer__container__info__name">ARTESANIAS DE COLOMBIA</p>
                <p class="footer__container__info__text">
                    <strong>Nuestra Oficina</strong>
                    <br> Cra 2 No. 18A-58, Barrio Las Aguas, Bogotá, Colombia
                </p>

                <p class="footer__container__info__text">
                    <strong>Telefonos</strong>
                    <br> +(57 1) 5550325 - 5550326 - 2861766
                    <br> Línea de atención 01 8000 913082
                </p>

                <p class="footer__container__info__text">
                    <strong>Horarios</strong>
                    <br> Lunes a Viernes
                    <br> 8:00am a 5:00pm Jornada continua
                </p>

                <p class="footer__container__info__text">
                    <strong>Bodega</strong>
                    <br> Cra 2 No. 18A-58, Barrio Las Aguas, Bogotá, Colombia
                    <br> +(57 1) 3104437 - 2119364
                </p>
            </section>
            <img class="footer__container__img" src="./imagenes/pajaro_0.png">
        </article>
    </footer>

    <script src="/style/filtro.js"></script>



</body>

</html>