<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style/main.css" />
    <link rel="stylesheet" href="https://use.typekit.net/umy6dwm.css">
    <title>Tienda</title>
</head>

<body>

    <nav class="navbar">
        <section class="navbar__container">
            <img class="navbar__container__logo" src="/imagenes/logo_artesania.png">
            <ul class="navbar__container__items">
                <li class="navbar__container__items__list">
                    <img src="./imagenes/search.png">
                </li>

                <a href="/tienda"> <li class="navbar__container__items__list">
                    <img src="./imagenes/store.png">
                </li></a>

                <li class="navbar__container__items__list">
                    <img src="./imagenes/favorite.png">
                </li>

                <a href="/check"><li class="navbar__container__items__list">
                    <img src="./imagenes/shoppingBag.png">
                    <p class="navbar__container__items__list__bag">0</p>
                </li></a>

            </ul>
        </section>
    </nav>

    <header class="background">
        <section class="background__store">
            <p class="background__store__tittle">PRODUCTOS ARTESANÍAS DE COLOMBIA</p>
        </section>
    </header>

    <section class="container">
        <section class="container__box">
            <section class="container__box__one">
            <p class="container__box__one__tittle">CATEGORIAS</p><br>
            <a href="/tienda?categoria="><h6>Todo</h6></a>
            <a href="/tienda?categoria=Hogar y decoración"><h6>Hogar</h6></a>
            <a href="/tienda?categoria=Accesorios"><h6>Accesorios</h6></a>
            <a href="/tienda?categoria=Oficina"><h6>Oficina</h6></a>
            </section>
            <section class="container__box__two">
                <p class="tittle">MATERIALES</p><br>
            <a href="/tienda?material="><h6>Todo</h6></a>
            <a href="/tienda?material=Madera"><h6>Madera</h6></a>
            <a href="/tienda?material=Werregue"><h6>Werregue</h6></a>
            <a href="/tienda?material=Fique"><h6>Fique</h6></a>
            <a href="/tienda?material=Hilos de Algodón"><h6>Hilos de Algodón</h6></a>
            <a href="/tienda?material=Palo Sangre"><h6>Palo Sangre</h6></a>
            <a href="/tienda?material=Molas"><h6>Molas</h6></a>
            <a href="/tienda?material=Mopa Mopa"><h6>Mopa</h6></a>
            <a href="/tienda?material=Oro"><h6>Oro</h6></a>
                
            </section>

            <section class="container__box__three">
                <p class="tittle">PRECIO</p><br>
            <a href="/tienda?precio="> <h6>Todo</h6></a>
            <a href="/tienda?precio=100"><h6>Menor a 100</h6></a>
            <a href="/tienda?precio=200"><h6>Menor a 200</h6></a>
            <a href="/tienda?precio=200"><h6>Menor a 300</h6></a>
            <a href="/tienda?precio=200"><h6>Menor a 400</h6></a>
            </section>      
        </section>
    </section>

    <section class="container">

        <section class="products">

            {{#each products}}
            <a href="/tienda?producto={{titulo}}">
                <section class="products__crafts">

                    <img class="products__crafts__art" src="{{img}}">
                    <h3>{{titulo}}</h3>
                    <h4>{{precio}} </h4>
                    <section class="products__crafts__icon">
                        <section>
                            <a class="products__crafts__icon__add"><img src="/imagenes/add.png"></a>
                            </section>
                        <section><a><img src="/imagenes/fav.png"></a></section>
                    </section>
                </section>
            </a>

            {{/each}}

        </section>
    </section>

    <footer class="ft">
        <section class="ft__contact">
            <p> <strong>Telefonos</strong><br>
                +(57 1) 5550325 - 5550326 - 2861766<br>
                Línea de atención 01 8000 913082<br>
                <strong>Horarios</strong><br>
                Lunes a Viernes<br>
                8:00am a 5:00pm Jornada continua
</p>

        </section>

        <section class="ft__logo">
            
            <section class="ft__logo__boxTwo">
            <a href="/"><img class="ft__logo__boxTwo__artesaniaL"src="/imagenes/logo_artesania.png"></a>
            </section>                
            </ul>

        </section>

    </footer>

    <script src="/style/filtro.js"></script>
    <script src="/carrito.js"></script>



</body>

</html>